# Data Cleaning on Scraped Indeed Python Jobs

### Import library

In [1]:
import pandas as pd
import numpy as np
import re

### Importing files

In [2]:
jobs = pd.read_csv('jobs.csv')

### Cleaning

In [3]:
# Remove maximum salary and leave only minimum salary 
jobs = jobs.replace("\r\n", "", regex=True)
jobs['minimum salary'] = jobs['minimum salary'].replace(",", "", regex=True)
jobs['minimum salary'] = jobs['minimum salary'].str.split('-')
jobs['minimum salary'] = jobs['minimum salary'].str[0]
jobs['minimum salary'] = jobs['minimum salary'].replace("$", "", regex=True)
jobs['minimum salary'] = jobs['minimum salary'].replace("\D+", '', regex=True)
jobs['minimum salary'] = jobs['minimum salary'].fillna(0)
jobs['minimum salary'] = jobs['minimum salary'].astype(float)

# Short term jobs is removed
idx = jobs[(jobs['minimum salary'] < 3000) & (jobs['minimum salary'] > 100)].index
jobs = jobs.drop(idx)

# Hourly salaries convert to yearly (* 2000)
jobs['minimum salary'] = jobs['minimum salary'].apply(lambda x:x*2000 if x < 100 else x)

# Replace TBD if companies don't announce
jobs['minimum salary'] = jobs['minimum salary'].replace(0, str("TBD"))

jobs['rating'] = jobs['rating'].fillna("")
jobs['urgent hiring'] = jobs['urgent hiring'].fillna("")
jobs

,title,company,location,minimum salary,rating,urgent hiring,link
0,Python Developer,Systemonex INC,"New York, NY",70000,,,https://www.indeed.com/viewjob?jk=261a6748688d...
1,Python Developer,World.com,"New York, NY",84365,,,https://www.indeed.com/viewjob?jk=687f240976eb...
2,Application Developer,Blue World,"New York, NY",70000,,,https://www.indeed.com/viewjob?jk=6ccacb9b4d09...
3,Entry-Level Software Developer(Java),BeaconFire Solution,"New York, NY",65000,4.7,0,https://www.indeed.com/viewjob?jk=06376f04b1b2...
4,Data Technician (Full- or Part-Time),Thasos Group,"New York, NY",TBD,,,https://www.indeed.com/viewjob?jk=da727c0cddda...
...,...,...,...,...,...,...,...
995,Software Development Engineer in Test (SDET),EnergyHub,"New York, NY",TBD,,,https://www.indeed.com/viewjob?jk=33b210d98179...
996,Junior Forecasting Analyst,BARK,"New York, NY",TBD,3.5,,https://www.indeed.com/viewjob?jk=d6edc635cfe6...
997,Associate QA Engineer,Intercontinental Exchange,"New York, NY",TBD,3.4,,https://www.indeed.com/viewjob?jk=acc647318ad6...
998,Data Python Developer,London Stock Exchange Group,"New York, NY",TBD,3.8,,https://www.indeed.com/viewjob?jk=31661855134f...
999,Quantitative Developer,Katana Financial,"New York, NY",90000,,,https://www.indeed.com/viewjob?jk=c0aed25dce4b...

### Creating cleaned file

In [4]:
jobs.to_csv('jobs_cleaning.csv')